doctype html
html
  head
    meta(charset='utf-8')
    link(href='/styles.css', rel='stylesheet')
    title TWEEREAT
  body
    h1 TWEEREAT

    - var data = tweets
    each thing in data
      p=thing
    - var list = feed
    each stuffs in list
      p=stuffs.id

    //- ul
    //-   each post in tweets
    //-     .post-card
    //-       h3=post.text
    //-       p=post.created_at
    //-       -var nest = post.source
    //-       each thing in nest
    //-         p=thing.user
    //-       - var items = post.entities.user_mentions
    //-       each item in items
    //-         p=item.screen_name

  script(src='/browser.js')
